.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 5;
}
  
.popup_inner {
    border-radius: 25px;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    padding: 2rem;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.receipt-container {
    font-weight: bold;
}

.receipt-table {
    color: black;
    font-weight: 100;
    text-shadow: 0 0 0 black;
    border-collapse: collapse;
    font-weight: bold;
}
  
.receipt-table th,
.receipt-table td {
    padding: 10px;
}

/* .receipt-table th:not(:last-child),
.receipt-table td:not(:last-child) {
    border-right: 1px solid black;
} */